<template>
  <v-container
    class="d-flex justify-center align-center px-0"
    style="height: 100%"
  >
    <v-card
      class="my-4 pa-12"
      elevation="0"
      min-height="600px"
      :width="$vuetify.breakpoint.smAndUp ? '600' : '100%'"
      style="z-index: 2"
    >
      <v-row>
        <v-col v-if="mode === 'edit'" cols="12">
          <h1>Edit role</h1>
          <h3>{{ roleData.name }}</h3>
        </v-col>
        <v-col v-if="mode === 'new'" cols="12">
          <h1>New role</h1>
        </v-col>
        <v-col xs12>
          <v-form
            ref="formCreateEdit"
            v-model="validCreateEdit"
            lazy-validation
          >
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="roleName"
                  label="Name"
                  color="primary"
                  :rules="rulesName"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-autocomplete
                  v-model="selectRoleType"
                  :items="cmbRoleTypes"
                  item-value="type"
                  item-text="description"
                  label="Type"
                  color="primary"
                  :rules="rulesType"
                ></v-autocomplete>
              </v-col>
              <v-col cols="12">
                <v-textarea
                  v-model="roleDescription"
                  rows="5"
                  outlined
                  label="Description"
                  color="primary"
                  :rules="rulesDescription"
                ></v-textarea>
              </v-col>
              <v-col cols="12">
                <v-autocomplete
                  v-model="selectUser"
                  :items="cmbUsers"
                  item-value="id"
                  :item-text="getUserItemText"
                  multiple
                  chips
                  label="Users"
                  color="primary"
                >
                  <!-- CHIP STYLE -->
                  <template v-slot:selection="data">
                    <v-chip
                      v-bind="data.attrs"
                      :input-value="data.selected"
                      close
                      @click="data.select"
                      @click:close="removeChip(data.item)"
                    >
                      <v-avatar left>
                        <v-img :src="data.item.photo_url"></v-img>
                      </v-avatar>
                      {{ `${data.item.first_name} ${data.item.last_name}` }}
                    </v-chip>
                  </template>

                  <!-- LIST STYLE -->
                  <template v-slot:item="data">
                    <v-list-item-avatar>
                      <img :src="data.item.photo_url" />
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title>
                        {{ `${data.item.first_name} ${data.item.last_name}` }}
                      </v-list-item-title>
                    </v-list-item-content>
                  </template>
                </v-autocomplete>
              </v-col>
              <v-col class="d-flex justify-center" cols="6" md="3">
                <v-switch
                  v-model="roleEditable"
                  inset
                  label="Editable"
                ></v-switch>
              </v-col>
              <v-col class="d-flex justify-center" cols="6" md="3">
                <v-switch v-model="roleActive" inset label="Active"></v-switch>
              </v-col>
              <v-col class="d-flex justify-end align-center" cols="12" md="6">
                <v-btn
                  class="mr-2"
                  text
                  color="grey"
                  @click="$router.push({ name: 'UserRoles' })"
                  >Cancel</v-btn
                >
                <v-btn v-if="mode == 'edit'" color="primary" @click="updateRole"
                  >Save</v-btn
                >
                <v-btn v-if="mode == 'new'" color="primary" @click="newRole"
                  >Add new</v-btn
                >
              </v-col>
            </v-row>
          </v-form>
        </v-col>
      </v-row>
    </v-card>
    <svg
      class="bottom-wave"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
    >
      <path
        fill="#6cbcca"
        fill-opacity="1"
        d="M0,128L48,117.3C96,107,192,85,288,106.7C384,128,480,192,576,181.3C672,171,768,85,864,48C960,11,1056,21,1152,48C1248,75,1344,117,1392,138.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
  </v-container>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import formatters from '../mixins/formatters'

export default {
  name: 'ManageRole',
  props: {
    mode: {
      type: String,
      default: 'new'
    },
    id: {
      type: String,
      default: null
    }
  },
  mixins: [formatters],
  data() {
    return {
      roleData: [],
      roleName: '',
      roleSubtitle: '',
      roleDescription: '',
      roleUsers: [],
      roleCreated: '',
      roleLastUpdate: '',
      roleActive: false,
      roleEditable: false,
      selectRoleType: '',
      selectUser: [],
      validCreateEdit: true,

      // Validation rules
      rulesName: [(v) => !!v || 'Enter a name'],
      rulesType: [(v) => !!v || 'Select a type'],
      rulesDescription: [(v) => !!v || 'Enter a role description']
    }
  },
  created() {
    // Validating if role exist and is editable
    this.roleData = this.getUserRoleById(this.id)
    if (this.mode == 'edit' && this.roleData === undefined) {
      this.$router.push({ name: 'UserRoles' })
    } else if (this.mode == 'edit' && !this.roleData.editable) {
      this.$router.push({ name: 'UserRoles' })
    } else {
      // Can edit role
    }
  },
  watch: {
    roleData(val) {
      if (val != undefined || val != null) {
        this.roleName = val.name
        this.roleSubtitle =
          val.type == 'job_admin' ? 'Job Administrator' : 'Administrator Role'
        this.roleDescription = val.description
        this.roleUsers = val.users
        this.roleCreated = val.created_on
        this.roleLastUpdate = val.modified_on
        this.roleActive = val.active
        this.roleEditable = val.editable
        this.selectRoleType = val.type
        let userIds = []
        val.users.forEach((el) => {
          userIds.push(el.id)
        })
        this.selectUser = userIds
      }
    }
  },
  computed: {
    ...mapState(['cmbRoleTypes', 'cmbUsers']),
    ...mapGetters(['getUserRoleById'])
  },
  methods: {
    getUserItemText(item) {
      return `${item.first_name} ${item.last_name}`
    },
    removeChip(item) {
      const index = this.selectUser.indexOf(item.id)
      if (index >= 0) this.selectUser.splice(index, 1)
    },
    newRole() {
      if (this.$refs.formCreateEdit.validate()) {
        // If form pass validation rules, add new role
        let me = this
        let roleData = {
          id: null,
          name: this.roleName,
          type: this.selectRoleType,
          description: this.roleDescription,
          editable: this.roleEditable,
          active: this.roleActive,
          users: this.cmbUsers.filter((obj) => {
            return me.selectUser.includes(obj.id)
          }),
          created_on: this.toISOLocal(new Date()),
          modified_on: this.toISOLocal(new Date())
        }
        this.$store.dispatch('addRole', roleData)
        this.$router.push({ name: 'UserRoles' })
      }
    },
    updateRole() {
      if (this.$refs.formCreateEdit.validate()) {
        // If form pass validation rules, update role
        let me = this
        let roleData = {
          id: Number(this.id),
          name: this.roleName,
          type: this.selectRoleType,
          description: this.roleDescription,
          editable: this.roleEditable,
          active: this.roleActive,
          users: this.cmbUsers.filter((obj) => {
            return me.selectUser.includes(obj.id)
          }),
          created_on: this.roleCreated,
          modified_on: this.toISOLocal(new Date())
        }
        this.$store.dispatch('updateRole', roleData)
        this.$router.push({ name: 'UserRoles' })
      }
    }
  }
}
</script>
