<template>
  <v-container
    fluid
    :style="$vuetify.breakpoint.mdAndUp ? 'padding: 0 10%' : ''"
  >
    <v-card class="py-12 px-16" elevation="0">
      <v-row>
        <v-col cols="12">
          <span class="text-h5 font-weight-light"> User Management Roles </span>
        </v-col>
        <v-col cols="12" sm="4">
          <v-text-field
            v-model="search"
            label="Search"
            color="primary"
            append-icon="mdi-magnify"
          >
          </v-text-field>
        </v-col>
        <v-col cols="12" sm="4">
          <v-autocomplete
            v-model="selectRoleStatus"
            :items="cmbRoleStatus"
            item-text="description"
            item-value="id"
            label="Role Status"
          ></v-autocomplete>
        </v-col>
        <v-col
          cols="12"
          sm="4"
          :class="
            $vuetify.breakpoint.smAndUp
              ? 'd-flex justify-end'
              : 'd-flex justify-center mb-4'
          "
        >
          <v-btn
            color="primary"
            large
            elevation="0"
            class="font-weight-regular mt-1"
            :to="{
              name: 'NewRole',
              params: { mode: 'new' }
            }"
            >Create new role</v-btn
          >
        </v-col>
        <v-col
          v-for="role in userRolesFiltered(search, selectRoleStatus)"
          :key="role.id"
          cols="12"
          sm="6"
          lg="4"
        >
          <RoleCard :userRoleId="Number(role.id)" />
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import RoleCard from '../components/RoleCard.vue'

export default {
  name: 'UserRoles',
  components: {
    RoleCard
  },
  data: () => ({
    search: '',
    selectRoleStatus: 1
  }),
  computed: {
    ...mapState(['cmbRoleStatus']),
    ...mapGetters(['userRolesFiltered'])
  }
}
</script>
