<template>
  <v-card outlined>
    <v-dialog v-model="dialogDelete" width="400">
      <v-card class="py-6">
        <v-card-title
          class="text-subtitle-1 font-weight-regular py-4"
          style="word-break: normal"
        >
          Do you want to delete "{{ roleName }}" role?
        </v-card-title>
        <v-card-actions class="d-flex justify-end">
          <v-btn class="mr-2" text color="grey" @click="dialogDelete = false"
            >Cancel</v-btn
          >
          <v-btn color="red darken-2" dark @click="deleteRole"
            >Yes, delete</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <div class="px-4 color-text">
      <div class="d-flex justify-end pt-2" style="height: 40px">
        <v-chip
          v-if="!roleActive"
          class="ma-2 text-caption"
          color="red"
          label
          text-color="white"
        >
          INACTIVE
        </v-chip>
      </div>
      <v-card-title class="text-h6 font-weight-regular">
        {{ roleName }}
      </v-card-title>
      <v-card-subtitle>
        {{ roleSubtitle }}
      </v-card-subtitle>
      <v-card-text style="height: 190px">
        <v-row>
          <v-col cols="12">
            {{
              roleDescription.length > 100
                ? `${roleDescription.substr(0, 100)}...`
                : roleDescription
            }}
          </v-col>
          <v-col cols="12" class="d-flex">
            <v-avatar
              class="mr-1"
              v-for="user in roleUsers"
              :key="user.id"
              size="40"
            >
              <img :src="user.photo_url" :alt="user.first_name" />
            </v-avatar>
          </v-col>
        </v-row>
      </v-card-text>
    </div>
    <v-card-actions class="backColor px-4 pl-8 d-flex" style="height: 60px">
      <div v-if="!roleEditable" class="date-label">
        Date created: {{ roleCreated }}
      </div>
      <div v-else class="date-label">Last update: {{ roleLastUpdate }}</div>
      <v-spacer></v-spacer>
      <v-btn
        v-if="roleEditable"
        text
        :to="{
          name: 'EditRole',
          params: { mode: 'edit', id: userRoleId.toString() }
        }"
        >Edit</v-btn
      >
      <v-btn
        v-if="roleEditable"
        text
        color="red darken-2"
        @click="dialogDelete = true"
        >Delete</v-btn
      >
      <div v-if="!roleEditable" class="mx-6">
        <v-icon color="grey">mdi-lock</v-icon>
      </div>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'
import formatters from '../mixins/formatters'

export default {
  name: 'RoleCard',
  props: {
    userRoleId: {
      type: Number,
      default: null
    }
  },
  mixins: [formatters],
  data() {
    return {
      roleData: [],
      roleName: '',
      roleSubtitle: '',
      roleDescription: '',
      roleUsers: [],
      roleCreated: '',
      roleLastUpdate: '',
      roleActive: false,
      roleEditable: false,
      dialogDelete: false
    }
  },
  watch: {
    roleData(val) {
      this.roleName = val.name
      this.roleSubtitle =
        val.type == 'job_admin' ? 'Job Administrator' : 'Administrator Role'
      this.roleDescription = val.description
      this.roleUsers = val.users
      this.roleCreated = this.formatDate(val.created_on.substr(0, 10))
      this.roleLastUpdate = this.formatDate(val.modified_on.substr(0, 10))
      this.roleActive = val.active
      this.roleEditable = val.editable
    }
  },
  created() {
    this.roleData = this.getUserRoleById(this.userRoleId)
  },
  computed: {
    ...mapGetters(['getUserRoleById'])
  },
  methods: {
    deleteRole() {
      this.$store.dispatch('deleteRole', this.userRoleId)
    }
  }
}
</script>
