<template>
  <v-app class="backColor">
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'App',

  data: () => ({})
}
</script>

<style>
/* GLOBAL CSS */
.backColor {
  background-color: #f8f8f8 !important;
}
.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: var(--v-primary-base) !important;
}
.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)
  > .v-input__control
  > .v-input__slot
  fieldset {
  color: var(--v-primary-base) !important;
}
.color-text {
  color: #4d4d4d;
}
.date-label {
  font-size: 12px;
  color: #979797;
}
.bottom-wave {
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: 75%;
}
</style>
